<h2>Car-{{ id }}</h2>
{{#if model}}
  <div><img src="{{ photo.[0] }}" width="250" /></div>
  {{#each photo}}
    {{#unless @first }}
      <div><img src="{{ this }}" width="150" /></div>
    {{/unless}}
  {{/each}}
  <p>id: {{ id }}</p>
  <p>Model: {{ model }}</p>
  <p>Price: {{ price }}</p>
  <p>Description: {{ description }}</p>
  <p>Year: {{ year }}</p>
  <p>Created At: {{ createdAt }}</p>
  <div>
    <ul>
      <li class="item">
        <a class="btn btn-default link" href="#car/edit/{{id}}">Edit</a>
      </li>
      <li class="item">
        <a class="btn btn-default link link-delete" data-model-id="{{ id }}" href="#">Delete</a>
      </li>
    </ul>
  </div>
{{else}}
  {{> preloader }}
{{/if}}
