<div><img src="{{ photo.[0] }}" width="250" /></div>
{{#each photo}}
  {{#unless @first }}
    <div><img src="{{ this }}" width="150" /></div>
  {{/unless}}
{{/each}}
<div>id: {{ id }}</div>
<div>Model: {{ model }}</div>
<div>Price: {{ price }}</div>
<div>Description: {{ description }}</div>
<div>Year: {{ year }}</div>
<div>Created At: {{ createdAt }}</div>
<div>
  <ul>
    <li class="item">
      <a class="btn btn-default link" href="#car/edit/{{id}}">Edit</a>
    </li>
    <li class="item">
      <a class="btn btn-default link link-delete" data-model-id="{{ id }}" href="#">Delete</a>
    </li>
  </ul>
</div>
