<td><b>{{ id }}</b></td>
<td><img src="{{ photo }}" width="250" /></td>
<td>{{ model }}</td>
<td>{{ price }}</td>
<td>
  <ul>
    <li class="item">
      <a class="btn btn-default link" href="#car/{{id}}">View</a>
    </li>
    <li class="item">
      <a class="btn btn-default link" href="#car/edit/{{id}}">Edit</a>
    </li>
    <li class="item">
      <a class="btn btn-default link link-delete" data-model-id="{{ id }}" href="#">Delete</a>
    </li>
  </ul>
</td>
